
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import 'variables';

// Bootstrap
@import "bootstrap";

// FontAwesome
@import "node_modules/font-awesome-scss/css/font-awesome.scss";
//@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";



 .navbar {
     background-color: #fff;
     box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
     height: 45px;
     color: #000;
 }

body {
    background-color: #f7f7f7;
}

main {
    max-width: 750px;
    word-wrap: break-word;
    padding-top:170px;
}

.global-header {
    background: #222 no-repeat center center;
    background-size: cover;
    margin-bottom: 30px;
    position:fixed;
    top:0;
    left:0;
    z-index:24;
    width:100%;

    .header-text {
        position: relative;
        padding-bottom: 1px;
        height: 100%;
        background-color: #212529;
        color: rgba(255, 255, 255, 0.9);

        h1 {
            margin: 0 auto;
            padding-top: 30px;
            text-align: center;
            font-weight: 200;

            a {
                color: rgba(255, 255, 255, 1.0);
                text-decoration: none;
            }
        }
    }

    .tag-line {
        margin: 10px auto;
        padding: 0 10px;
        max-width: 430px;
        color: rgba(255, 255, 255, 0.7);
        text-align: center;
        font-weight: 300;
    }
}

.article-list h2 a {
    text-decoration: none;
    transition: color 0.1s linear;
}

.post-meta {
    margin: 5px 0;
}

.post-date {
    color: rgba(0, 0, 0, 0.4);
}

.post-tag a {
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    transition: color, border-color, background-color 0.1s linear;
}

.post-tag a:hover {
    background-color: rgba(0, 0, 0, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

.not-found h1 {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 200;
    font-size: 80px;
}

.not-found {
    text-align: center;
}

.author-info {
    padding: 25px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.author-name {
    margin: 0 0 5px 0;
    font-size: 30px;
}

.author-bio {
    color: rgba(0, 0, 0, 0.5);
}

.author-avatar img {
    max-width: 100px;
    max-height: 100px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

.author-contact {
    position: relative;
    display: inline-block;
    padding-top: 10px;
    height: 100px;
    text-align: center;
}

.author-contact a {
    display: inline-block;
    padding: 7px 16px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    color: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    font-weight: 300;
    font-size: 13px;
    transition: background-color, border-color, color 0.1s linear;
}

.author-contact a:hover {
    border: 1px solid rgba(51, 122, 182, 1.0);
    background-color: rgba(51, 122, 183, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

.pagination {
    width: 720px;
    text-align: center;
}

.older-posts,
.newer-posts {
    display: inline !important;
    border: 1px solid #ddd;
    border-radius: 15px;
    text-decoration: none;
    transition: border .3s ease;
    padding: 5px 14px;
}

.page-number {
    display: inline-block;
    min-width: 100px;
    padding: 2px 0;
}

.newer-posts {
    float: left;
}

.older-posts {
    float: right;
}

.older-posts:hover,
.newer-posts:hover {
    color: #889093;
    border-color: #98a0a4;
}

/* Override some of Bootstrap's styles */

pre {
    font-size: 14px;
}

pre code {
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}

.pager li>a {
    transition: background-color 0.1s linear;
}

blockquote {
    font-style: italic;
}

article section img {
    max-width: 100%;
    height: auto;
    margin: 13px auto;
}

/* カードのデザイン */
.card {
    margin: 10px auto;
    box-shadow: 0 0 8px gray;
}

.shopInfoTitle {
    text-align:left!important;
    font-size:xx-large;
    margin:2px;
}

.shopInfoMessage {
    text-align:left!important;
}

.shopInfoCalender {
    text-align:left!important;
    margin:2px;
}

.shopInfoCost {
    text-align:center!important;
    margin:2px;
}

.shopInfoAddress {
    text-align:left!important;
    margin: 2px;
}

.shopInfoPhone {
    text-align:left!important;
    margin: 2px;
}

/* 画面サイズごとに分ける */
/* タブバー設定について */

/* 479px以下 */
@media screen and (max-width:479px) {
    .tab_wrap {
        width: 350px;
        margin: 10px auto;
    }

    .tab_area {
        font-size: 0;
        padding: 0 55px;

        label {
            width: 70px;
            display: inline-block;
            padding: 14px 0 12px;
            color: #fff;
            background: #90c9cc;
            text-align: center;
            font-size: 13px;
            cursor: pointer;
            transition: ease 0.2s opacity;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            vertical-align: bottom;
            transition: ease 0.2s;
            margin: 10px 5px 0;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

/* 480px以上 764px以下*/
@media screen and (min-width:480px) and (max-width:764px) {
    .tab_wrap {
        width: 470px;
        margin: 10px auto;
    }

    .tab_area {
        font-size: 0;
        padding: 0 55px;

        label {
            width: 110px;
            display: inline-block;
            padding: 14px 0 12px;
            color: #fff;
            background: #90c9cc;
            text-align: center;
            font-size: 13px;
            cursor: pointer;
            transition: ease 0.2s opacity;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            vertical-align: bottom;
            transition: ease 0.2s;
            margin: 10px 5px 0;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

/* 765px以上 */
@media screen and (min-width:765px) {
    .tab_wrap {
        width: 680px;
        margin: 10px auto;
    }

    .tab_area {
        font-size: 0;
        padding: 0 55px;

        label {
            width: 110px;
            display: inline-block;
            padding: 14px 0 12px;
            color: #fff;
            background: #90c9cc;
            text-align: center;
            font-size: 13px;
            cursor: pointer;
            transition: ease 0.2s opacity;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            vertical-align: bottom;
            transition: ease 0.2s;
            margin: 10px 5px 0;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}
/* 画面サイズごとの設定 終了 */


// ページ繊維ボタン
.page_change_area{
    padding: 0px 2px 0px 2px;
}

.page_change_btn {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 3px #87befd;
  border: dashed 1px #FFF;
  transition: .4s;
  margin: 2px 2px 2px 2px;
}

.page_change_btn:hover {
  background: #668ad8;
  box-shadow: 0px 0px 0px 5px #668ad8;
}

.active_page_btn {
  display: inline-block;
  text-decoration: none;
  background: #db4e02;
  color: #FFF;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 0px 0px 3px #db4e02;
  border: dashed 1px #FFF;
  transition: .4s;
  margin: 2px 2px 2px 2px;
}

.active_page_btn:hover {
  background: #668ad8;
  box-shadow: 0px 0px 0px 5px #668ad8;
}

/* テーブル */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  tr {
    border-bottom: solid 3px #eee;
    &:hover {
      background-color: #d7e9ea;
    }
  }
  th {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    width: 25%;
    padding: 15px 0;
    border-radius: 12px;
    background-color: #90c9cc;
    box-shadow: 0 0 6px #c9c9c4;
  }
  td {
    text-align: left;
    color: #000000;
    border-radius: 12px;
    width: 25%;
    padding: 15px 0;
  }

  td .inline-span {
      display: inline-blok;
      cursor: pointer;
      padding: 3px;
  }

  td .target-area-shop-image {
      height: 100px;
      width: 100px;
  }

  td .target-area-shop-link {
      text-decoration: none;
      color: #000000;
      font-size: 20px;
  }
}

.list-header {
    text-align: center;
    color: #ffffff;
    font-size: 20px;
    width: 100%;
    padding: 15px 0;
    border-radius: 12px;
    background-color: #90c9cc;
    box-shadow: 0 0 6px #c9c9c4;
}

.target-area-shop-link {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

.target-area-shop-link h5 {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
}

/* タブバー設定について(各画面共通) */

input[type="radio"] {
    display: none;
}


.panel_area {
  background: #f7f7f7;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top: 8px solid #d7e9ea;
}

.tab_panel {
    width: 100%;
    padding: 25px 0;
    display: none;

    p {
        font-size: 14px;
        letter-spacing: 1px;
        text-align: center;
    }
}


#tab1:checked~ {
    .tab_area .tab1_label {
        background: #d7e9ea;
        color: #000;
    }

    .panel_area #panel1 {
        display: block;
    }
}

#tab2:checked~ {
    .tab_area .tab2_label {
        background: #d7e9ea;
        color: #000;
    }

    .panel_area #panel2 {
        display: block;
    }
}

#tab3:checked~ {
    .tab_area .tab3_label {
        background: #d7e9ea;
        color: #000;
    }

    .panel_area #panel3 {
        display: block;
    }
}

footer{
    font-size: 80%;                 /*フォントサイズの指定*/
    width: 100%;                    /*横幅の指定*/
    text-align: center;             /*文字の中央寄せ*/
    padding-top: 10px;              /*文字上部の余白指定*/
    padding-bottom: 5px;            /*文字下部の余白指定*/
    background-color: #212529;    /*背景色の指定*/
}
footer address{
    color: #fff;          /*文字色の指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
    font-style: normal;     /*文字の斜体を取り消す*/
}
